* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #14213d;
    --second-bg-color: #fca311;
}

body {
    background-color: #f1f1f1;
}

.navbar {
    max-width: 100%;
    height: 100px;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    display: flex;
    justify-content: space-evenly;
}

.navbar-item1,
.navbar-item2 {
    width: 320px;
    height: 100px;
    text-align: center;
    background-color: var(--second-bg-color);
}

#contain-main {
    max-width: 100%;
    height: 100vh;
    background-color: palevioletred;
    display: grid;
    grid-template-areas: "titular" "carrusel" "carrusel" "carrusel" "buttonmain";
}

.contain-titular {
    grid-area: titular;
    background-color: peru;
    text-align: center;
}

.contain-carrusel {
    grid-area: carrusel;
    background-color: purple;
    text-align: center;
}

.button-main {
    grid-area: buttonmain;
    background-color: palegreen;
    text-align: center;
}


/*### CONTENIDO PAGE ###*/

.contain-second {
    max-width: 100%;
    height: 100vh;
    background-color: #14213d;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    /*grid-template-columns: repeat(2, 500px);*/
    gap: 16px;
    justify-content: center;
}

.contain-second div {
    background-color: #fca311;
    width: auto;
    height: auto;
}

.contain-copas {
    max-width: 100%;
    height: 300px;
    background-color: peru;
    text-align: center;
}

.contain-events {
    max-width: 100%;
    height: 100vh;
    background-color: orangered;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.titular-event {
    background-color: palegreen;
    text-align: center;
}

.event-one {
    background-color: palevioletred;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.event-second {
    background-color: rebeccapurple;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-event {
    width: 400px;
    height: 160px;
    background-color: green;
}

.button-event {
    width: 400px;
    height: 160px;
    background-color: lightseagreen;
}

.footer {
    max-width: 100%;
    height: 200px;
    background-color: lightslategrey;
    text-align: center;
}